# Botingiz tokeni (@BotFather dan oling)
BOT_TOKEN=8759229865:AAFW_FuRy6VzumNsF17wir_I9013aAhSZTw

# Admin Telegram ID(lar) — vergul bilan ajrating. O'z ID'ingizni @userinfobot dan oling
ADMIN_IDS=1770663587,7903688837

# Operatorlarga yangi murojaat yuboriladigan guruh ID (ixtiyoriy, bo'sh qoldirsa ham bo'ladi)
# Guruh ID manfiy bo'ladi, masalan: -1001234567890
OPERATORS_GROUP_ID=-1003930658610
